*{
    margin:0;
    padding:0;
}

h1{
    font-size:84px;
    text-align:center;
    height:300px;
    color:whitesmoke;
}

.hero-image{
    background-image:url(20240626_104344.jpg);
    height:300px;
    margin:0;
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
}

.three-columns{
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    width: 80%;
}